<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting id="host" type="text" label="30001" default="0.0.0.0"/>
        <setting id="port" type="number" label="30002" default="8191"/>
        <setting id="headless" type="bool" label="30003" default="true"/>
    </category>
    <category label="Advanced">
        <setting id="enable_log" type="bool" label="Enable Debug Logging" default="false"/>
        <setting id="enable_remote_log_viewer" type="bool" label="Enable Remote Log Viewer" default="false" enable="eq(-1,true)"/>
        <setting id="log_level" type="select" label="Log Level" default="1" entries="Debug|Info|Warning|Error" enable="eq(-2,true)"/>
        <setting id="log_path" type="text" label="Log Folder" default="special://profile/addon_data/script.service.flaresolverr/"/>
    </category>
</settings>
