<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting id="host" type="text" label="30001" default="0.0.0.0"/>
        <setting id="port" type="number" label="30002" default="8191"/>
        <setting id="headless" type="bool" label="30003" default="true"/>
    </category>
</settings>
